html
    head
        link(rel='stylesheet', type='text/css', href='/css/template.css')
        link(rel='shortcut icon', href='#')
        title= title
        script(src='/js/template.js')
    body
        h1= message